<h1>Ma Todolist</h1>
<ul>
	<% todolist.forEach((elmt, i)=>{ %>
		<li><a href="/delete/<%= i %>" style="text-decoration:none;color:#000;">&#10008;</a><%= elmt %></li>
	<% }); %>
</ul>
<form action='/save' method='post'>
	<label for="todo">Que dois-je faire?</label>
	<input type="text" name="todo" id="todo">
	<button type=submit>Valider</button>
</form>